<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Thank you for your purchase!</h1>
    <h3>Order No. <%= @order.id %></h3>
    <p>
      You purchased <%= @order.line_items.count %> items!
    </p>
    <p>
      Your purchase total: <%= humanized_money_with_symbol @order.total_cents / 100.00 %>
    </p>
    <p>
      Your full order details can be found 
      <a href="http://localhost:3000/orders/<%= @order.id %>">
      here
      </a>.
    </p>
    <p>Thanks for your order and have a great day!</p>
  </body>
</html>