<tr>
  <td>
    <h4><%= product_id %></h4>
    <br>
  </td>
  <td>
    <%= item_price %>
  </td>
  <td>
    <div>
    <%= quantity %>
    </div>
  </td>
  <td>
    <%= item_price * quantity %>
  </td>
</tr>