<div class="jumbotron">
  <h1 class="display-4">Welcome to the Jungle!</h1>
  <p class="lead">A plant store with a purpose: to bring life to your home</p>
  <hr class="my-4">
    <p>Here at Jungle, your one stop shop for unique and exciting plants, we have got fun and games -- if by "fun and games," you mean PLANTS. Indeed, if you are looking for plants, the Jungle has got everything you want, honey, AND we know the names. In fact, we put those names in this shop to make shopping easier for you. We are the people that can find whatever you may need. But, rather than asking us, why not check out our clearly categorized online shop. If you have got the money, honey, we got your disease -- if by "disease" you mean order. So, if you are looking for plants to brighten up your home, you should look for them here, in the jungle, welcome to the jungle. Watch it bring you ... your PLANTS! I wanna watch you ... order PLANTS!</p>

    <p> We are a store that sells plants, okay? </p>
  <p class="lead">
  <%= link_to "Start Shopping!", root_path, class: 'btn btn-lg btn-primary' %>
  </p>
</div>


