<p>This should be linked in the bottom nav as "About Us"</p>

<p>The page can just contain static content that describes the store. Details about what goes into the content are unclear and unimportant for now. Feel free to get creative here.</p>

<p>Do not forget to update the top nav with a link to the page.</p>

<p>Do not implement the internal link using a simple a tag. Mimic the way the other links are created in the nav</p>

<p>Use bin/rails routes to figure out what the name of the route is</p>
